:root,
[data-bs-theme="light"] {
    --bs-primary: #660033;
    --bs-primary-rgb: 102,0,51;
    --bs-link-color: #ffffff;
    --bs-link-hover-color: #b6b6b6;
    --bs-nav-pills-link-active-bg: #660033;
    --bs-nav-pills-link-active-bg-rgb: 102,0,51;
    --bs-nav-pills-link-active-color: #fff;
}

.table-primary {
    --bs-table-bg: #7a5668;
    --bs-table-color: #ffffff;
}

.btn-primary {
    background-color: #660033;
    border-color: #660033;
}

.btn-primary:hover {
    background-color: #7a3946;
    border-color: #7a3946;
}

.entrada .imagen {
    max-width: 800px;
    margin: 0 auto;
}

.entrada .imagen img {
    object-fit: cover;
    aspect-ratio: 16/9;
}

.featurette img {
    object-fit: cover;
}

#imglogo {
    height: 35px;
}

#myCarousel .carousel-item {
    height: 70vh;
}

.featurette img {
    aspect-ratio: 1/1;
}

#myCarousel .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;   /* Rellena y recorta lo que sobre */
}

[id] {
    scroll-margin-top: 90px; /* ajusta según la altura de tu navbar */
}

@media (max-width: 992px) {
    #myCarousel .carousel-item {
        height: 50vh;
    }
}
@media (max-width: 768px) {
    .featurette img {
        aspect-ratio: 16/9;
    }
}
@media (max-width: 576px) {
    #myCarousel .carousel-item {
        height: 30vh;
    }
}